/*Responsividade*/

@media (max-width: 475.98px) {

    body {
        background-image: url('../Assets/img/bg16.jpg') !important;
       
        background-position: top !important;

    
        background-color: black !important;
    }

    html {

        margin: -5px;
    
    }

}

@media (min-width: 475.99px) and (max-width: 575.98px) {

    body {
        background-image: url('../Assets/img/bg16.jpg') !important;
       
        background-position: top !important;
    
        background-color: black !important;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    body {
        background-image: url('../Assets/img/bg16.jpg') !important;
       
        background-position: top !important;
    
        background-color: black !important;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    body {
        background-image: url('../Assets/img/bg16.jpg') !important;
       
       
    
        background-color: black !important;
    }

}

/* Efeito Inicial  */

.matriz {
    opacity: 1;
}

/*  GERAL */

@font-face {
	font-family: one;
	src: url('../Assets/fonts/one.woff');
}

@font-face {
	font-family: gentleman;
	src: url('../Assets/fonts/fonte.woff');
}

.font-one {
    font-family: 'one' !important;
}

.font-gentleman {
    font-family: 'gentleman' !important;
}

body {
    background-image: url('../Assets/img/bg16.jpg');
   
    background-position: right;

    background-color: black !important;
}



#nkw {
  background-image: url('../Assets/img/bg17.jpg');
  background-position: unset;
  background-size: cover;
}

#projetos, #contato {
    
    background-image: url('../Assets/img/bg11.jpg');
    background-size: contain;
    background-attachment: fixed;
}

/* Navegação */

.bg-nav-custom {
	background: rgb(0, 0, 0, .7);
}

/* Rodapé */

#rodape {
    background-color: black;
}

/* Topo */

.titulo-topo {
    font-family: 'gentleman';
    text-shadow: 0 0 1em  black;
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(13)  infinite alternate,
    blink 800ms steps(13)  infinite normal;
    border-right: 5px solid rgb(235, 226, 226);
  }

  .titulo-principal {
    font-family: 'gentleman';
    text-shadow: 0 0 1em  black;
    font-size: 90px;
    white-space: nowrap;
  }
  
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  
  @keyframes blink {
    from {
      border-color: rgb(235, 226, 226);
    }
    to {
      border-color: transparent;
    }
  }


/* Projetos */

#projetos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-projeto {
  
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.label-projeto {
  display: block;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure:hover+span {
  opacity: 1;
  margin-top: 8px;
}

#projetos figure {
	border-radius: 200px;
  border: #FFF;
  border-style: double;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.img-projeto:hover {
  -webkit-transform: scale(1);
	transform: scale(1);
}

  .btn-two {
    color: #FFF !important;
    transition: all 0.5s;
    position: relative; 
  }

  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }

  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(241, 233, 233, 0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }


  /* Contato */

  .btn-one {
    color: #FFF !important;
    transition: all 0.3s;
    position: relative;
  }

  .btn-tree {
    transition: all 0.3s;
    position: relative;
  }

  .btn-one span, .btn-tree span {
    transition: all 0.3s;
  }
  .btn-one::before, .btn-tree::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span, .btn-tree:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before, .btn-tree:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after, .btn-tree::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after, .btn-tree.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }





  .ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  
  .ch-grid:after,
  .ch-item:before {
    content: '';
      display: table;
  }
  
  .ch-grid:after {
    clear: both;
  }
  
  .ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
  }



  .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
      inset 0 0 0 0 rgba(0, 0, 0, 0.8),
      inset 0 0 0 16px rgba(255,255,255,0.6),
      0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
  }


  .ch-img-1 { 
    background-image: url(../Assets/img/nkw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  .ch-img-2 { 
    background-image: url(../Assets/img/caixa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  .ch-img-3 { 
    background-image: url(../Assets/img/festa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }

  .ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
  }

  .ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
      0 0 1px #fff, 
      0 1px 2px rgba(0,0,0,0.3);
  }
  
  .ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
  }
  
  .ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  
  .ch-info p a:hover {
    color: rgba(243, 49, 0, 0.979);
  }

  .ch-item:hover {
    box-shadow: 
      inset 0 0 0 110px rgba(0, 0, 0, 0.8),
      inset 0 0 0 16px rgba(255,255,255,0.8),
      0 1px 2px rgba(0,0,0,0.1);
  }

  .ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);	
  }

  .caixa-contato {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
  }

  .loader{
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: -100px;
        z-index: 200;
      }
      
      .hex-brick{
        background: #e9ecec;
        width: 30px;
        height: 17px;
        position: absolute;
        top: 5px;
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
      }
      
      .h2{
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
      }
      
      .h3{
        transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
      }
      
      .gel{
        height: 30px;
        width: 30px;  
        transition: all .3s;
        -webkit-transition: all .3s;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      
      .center-gel{
        margin-left: -15px;
        margin-top: -15px;
        
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
      }
      
      .c1{
        margin-left: -47px;
        margin-top: -15px;
      }
      
      .c2{
        margin-left: -31px;
        margin-top: -43px;
      }
      
      .c3{
        margin-left: 1px;
        margin-top: -43px;
      }
      
      .c4{
        margin-left: 17px;
        margin-top: -15px;
      }
      .c5{
        margin-left: -31px;
        margin-top: 13px;
      }
      
      .c6{
        margin-left: 1px;
        margin-top: 13px;
      }
      
      .c7{
        margin-left: -63px;
        margin-top: -43px;
      }
      
      .c8{
        margin-left: 33px;
        margin-top: -43px;
      }
      
      .c9{
        margin-left: -15px;
        margin-top: 41px;
      }
      
      .c10{
        margin-left: -63px;
        margin-top: 13px;
      }
      
      .c11{
        margin-left: 33px;
        margin-top: 13px;
      }
      
      .c12{
        margin-left: -15px;
        margin-top: -71px;
      }
      
      .c13{
        margin-left: -47px;
        margin-top: -71px;
      }
      
      .c14{
        margin-left: 17px;
        margin-top: -71px;
      }
      
      .c15{
        margin-left: -47px;
        margin-top: 41px;
      }
      
      .c16{
        margin-left: 17px;
        margin-top: 41px;
      }
      
      .c17{
        margin-left: -79px;
        margin-top: -15px;
      }
      
      .c18{
        margin-left: 49px;
        margin-top: -15px;
      }
      
      .c19{
        margin-left: -63px;
        margin-top: -99px;
      }
      
      .c20{
        margin-left: 33px;
        margin-top: -99px;
      }
      
      .c21{
        margin-left: 1px;
        margin-top: -99px;
      }
      
      .c22{
        margin-left: -31px;
        margin-top: -99px;
      }
      
      .c23{
        margin-left: -63px;
        margin-top: 69px;
      }
      
      .c24{
        margin-left: 33px;
        margin-top: 69px;
      }
      
      .c25{
        margin-left: 1px;
        margin-top: 69px;
      }
      
      .c26{
        margin-left: -31px;
        margin-top: 69px;
      }
      
      .c27{
        margin-left: -79px;
        margin-top: -15px;
      }
      
      .c28{
        margin-left: -95px;
        margin-top: -43px;
      }
      
      .c29{
        margin-left: -95px;
        margin-top: 13px;
      }
      
      .c30{
        margin-left: 49px;
        margin-top: 41px;
      }
      
      .c31{
        margin-left: -79px;
        margin-top: -71px;
      }
      
      .c32{
        margin-left: -111px;
        margin-top: -15px;
      }
      
      .c33{
        margin-left: 65px;
        margin-top: -43px;
      }
      
      .c34{
        margin-left: 65px;
        margin-top: 13px;
      }
      
      .c35{
        margin-left: -79px;
        margin-top: 41px;
      }
      
      .c36{
        margin-left: 49px;
        margin-top: -71px;
      }
      
      .c37{
        margin-left: 81px;
        margin-top: -15px;
      }
      
      .r1{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .2s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .2s;
      }
      
      .r2{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .4s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .4s;
      }
      
      .r3{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .6s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .6s;
      }
      
      .r1 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .2s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .2s;
      }
      
      .r2 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .4s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .4s;
      }
      
      .r3 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .6s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .6s;
      }
      
      
      @keyframes pulse{
        0%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        
        50%{
          -webkit-transform: scale(0.01);
          transform: scale(0.01);
        }
        
        100%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      @keyframes fade{
        0%{
          background: #e9ecec;
        }
        
        50%{
          background: #e9ecec;
        }
        
        100%{
          background: #e9ecec;
        }
      }
      
      @-webkit-keyframes pulse{
        0%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        
        50%{
          -webkit-transform: scale(0.01);
          transform: scale(0.01);
        }
        
        100%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      @-webkit-keyframes fade{
        0%{
          background: #e9ecec;
        }
        
        50%{
          background: #e9ecec;
        }
        
        100%{
          background: #e9ecec;
        }
      }



      #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: 100;

      }